@font-face {
  font-family: "SchoolSafeBoardMarker";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimBoadmarkerR.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
@media (max-width: 768px) {
  .resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    max-width: 393px;
  }
  /* 헤더 뱃지모양 이름, 슬로건, 정보 */
  div.header {
    gap: 10px;
    width: 364px;
  }
  div.header-name {
    width: 60px;
    height: 45px;
    border: 2px solid black;
    font-size: 13px;
    font-weight: 500;
  }
  div.slogan {
    font-size: 15px;
    width: 115px;
    font-weight: 500;
  }

  div.information {
    gap: 5px;
  }
  div.info-title {
    font-size: 10px;
  }
  div.info-content {
    font-size: 10px;
  }
  /* -------------------------------- */
  /* 영어, 한글 이름 */
  div.main-name {
    max-width: 290px;
    height: 20px;
    gap: 10px;
  }
  h2.english-name {
    font-size: 30px;
    width: 190px;
  }
  h2.korea-name {
    font-size: 30px;
    width: 85px;
  }
  /* ---------------------------- */
  /* 중간부분 이미지, 학력, 경험 */
  div.main {
    gap: 15px;
  }
  h2.list-heading {
    font-size: 16px;
  }
  p.list:not(:last-child)::after {
    width: 1px;
    height: 15px;
  }
  p.list-a:not(:last-child)::after {
    width: 1px;
    height: 20px;
  }
  p.list-a {
    font-size: 11px;
    width: 70px;
    padding: 8px 5px;
  }
  p.list {
    font-size: 11px;
    width: 70px;
    padding: 0 5px;
  }
  div.my-img {
    /* width: 100%; */
    width: 190px;
    height: auto;
  }
  img.photo {
    /* width: 100%; */
    max-width: 205px;
  }
  /* -------------------------- */
  /* 자기소개 글 */
  h2.about-me-title {
    font-size: 16px;
  }
  span.about-me-comment {
    font-size: 14px;
  }
  div.all-about-me-comment {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  /* -------------------------- */
  /* 하단부분 프로젝트, 강점 */
  div.footer {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  h3.footer-sub-title {
    font-size: 13px;
    margin-top: 5px;
  }
  /* 프로젝트 */
  div.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a.projects-list {
    font-size: 11px;
  }
  svg.bi-notion {
    width: 25px;
    height: 25px;
  }
  svg.bi-github {
    width: 25px;
    height: 25px;
  }
  /* ----------------------------- */
  /* 강점 */
  div.strengths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 393px;
    /* flex-wrap: wrap; */
    /* margin-right: 28px; */
    gap: 10px;
  }

  li.strengths-item {
    width: 80px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50px;
  }
  button.question-icon {
    width: 25px;
    height: 25px;
  }
  svg.bi-question-circle-fill {
    width: 25px;
    height: 25px;
  }
  button.up-icon {
    width: 25px;
    height: 25px;
  }
  svg.bi-chevron-bar-up {
    width: 25px;
    height: 25px;
  }
  /* ------------------------------ */
  /* 제일 바닥 글귀 */
  div.end-comment {
    font-size: 8px;
  }
}

/* 1024 이하 (태블릿) */
@media (max-width: 1024px) {
  div.resume-container {
    padding: 0 16px;
  }
  div.main {
    gap: 40px;
  }
}
/* 데스크탑 1280 */
html,
body {
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
  font-family: "SchoolSafeBoardMarker";
}
/* 전체 영역 */
.resume-container {
  max-width: 1280px;
  height: 100%;
  background-color: #f5f5dc;
  /* border: 3px solid pink; */
  margin: 40px auto;
  padding: 0 16px;
  position: relative;
}
/* <!-- 상단 뱃지모양 이름, 슬로건, 정보들 --> */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.header-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
/* 뱃지 모양 이름 */
.header-name {
  width: 141px;
  height: 65px;
  border: 3px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: sticky;
}
/* 슬로건 */
.slogan {
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
/* 정보 */
.information {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  /* margin-top: 20px; */
}
.info-title {
  font-weight: 800;
  line-height: 1.3;
}
.info-content {
  line-height: 1.5;
}
.line {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border-top: 1px solid #000;
  margin-top: 50px;
}
/* ----------------------- */
/* 중간부분 이름, 이미지, 학력, 경험 */
/* 영어 이름, 한글 이름 */
.main-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
.english-name {
  font-size: 60px;
  font-style: italic;
}
.korea-name {
  font-size: 55px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}
.photo {
  max-width: 300px;
  height: auto;
}
/* 학력, 겸험 */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-plus {
  display: flex;
}
.list {
  position: relative;
  width: fit-content;
  padding: 0 10px;
  font-size: 19px;
}
.list-a {
  position: relative;
  width: fit-content;
  padding: 0 10px;
  font-size: 19px;
}
.list:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 15px;
  background-color: black;
}

.education-list {
  line-height: 1.8;
}
.experience {
  margin-top: 40px;
  line-height: 1.8;
}
.list-heading {
  font-size: 24px;
  font-weight: 600;
  width: fit-content;
}
/* 자기 소개글 */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  line-height: 1.8;
  width: 100%;
  margin: 30px auto;
  padding: 0 20px;
  text-align: left;
}
.about-me-title {
  font-size: 24px;
  font-weight: 600;
}

.about-me-comment {
  max-width: 520px;
  font-size: 19px;
}
.all-about-me-comment {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}
/* 하단부분 프로젝트, 강점 */
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  gap: 80px;
}
.footer-sub-title {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  margin-top: 10px;
}
.notion-link {
  max-width: 300px;
}
.bi-github {
  background-color: #2c2c2c;
  color: white;
  border-radius: 100%;
  border: 1px solid #f0f6fc;
  width: 40px;
  height: 40px;
  outline: none;
}
.projects {
  line-height: 1.8;
  width: 520px;
  margin-left: 40px;
}

.projects-list:hover {
  text-decoration: underline;
  color: #c198f3;
}
/* 강점 */
.strengths {
  width: 520px;
}
.strengths-list-top {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.strengths-list-bottom {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.strengths-item {
  width: 110px;
  height: 55px;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.strengths-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
}
/* 페이지 하단 버튼들 */
.icon-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(600px);
  z-index: 9999;
}
.question-icon {
  width: 38px;
  height: 38px;
  color: gray;
  opacity: 0.15;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.question-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.question-icon:active {
  transform: scale(0.9) translateY(0);
}
.up-icon {
  width: 38px;
  height: 38px;
  color: white;
  opacity: 0.15;
  border-radius: 100%;
  background-color: gray;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.up-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.up-icon:active {
  transform: scale(0.9) translateY(0);
}
.end-comment {
  text-align: center;
  font-size: 13px;
  height: 72px;
}
.end-comment-top {
  margin-top: 30px;
}
.end-comment-under {
  margin-top: 15px;
}
.bi-diamond-fill {
  vertical-align: middle;
  margin-right: 7px;
}
