@font-face {
  font-family: "SchoolSafeBoardMarker";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimBoadmarkerR.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
/* @media (max-width: 768px) {
  .bottom-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
  
  }
} */

html,
body {
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
  font-family: "SchoolSafeBoardMarker";
}
.resume-container {
  width: 1280px;
  height: 100%;
  /* border: 2px solid pink; */
  background-color: #f5f5dc;
  margin: 40px auto;
  position: relative;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header-content {
  margin-top: 30px;
}
.header-name {
  width: 141px;
  height: 65px;
  border: 3px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}
.slogan {
  font-size: 25px;
  font-style: italic;
}
.information {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 20px;
  /* margin-left: 150px; */
}
.info-title {
  font-weight: 800;
  line-height: 1.3;
}
.info-content {
  line-height: 1.5;
}
.line {
  border: none;
  border-top: 1px solid #000;
  width: 100%;
  margin: 0;
}
.main-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
.english-name {
  font-size: 60px;
  font-style: italic;
}
.korea-name {
  font-size: 55px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 15px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education-list {
  line-height: 1.8;
}
.experience {
  margin-top: 40px;
  line-height: 1.8;
}
.list-heading {
  font-size: 23px;
  font-weight: 600;
}
.about-me {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 12px;
  line-height: 1.8;
  margin-top: 30px;

  /* position: absolute;
  top: 0;
  left: 0; */
}
.about-me-title {
  font-size: 23px;
  font-weight: 600;
}

.about-me-comment {
  width: 550px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 40px;
  margin-top: 20px;
  gap: 80px;
}
.footer-sub-title {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  margin-top: 10px;
}
.notion-link {
  width: 300px;
}
.projects {
  line-height: 1.5;
}
.projects-list:hover {
  text-decoration: underline;
  color: #0056b3;
}

.strengths-list-top {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.strengths-list-bottom {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.strengths-item {
  width: 90px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
}
.strengths-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
}
.icon-box {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  position: sticky;
  bottom: 40px;
  margin-left: auto;
}
.question-icon {
  width: 38px;
  height: 38px;
  color: gray;
  opacity: 0.3;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.question-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.question-icon:active {
  transform: scale(0.9) translateY(0);
}
.up-icon {
  width: 38px;
  height: 38px;
  color: white;
  opacity: 0.3;
  border-radius: 100%;
  background-color: gray;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.up-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.up-icon:active {
  transform: scale(0.9) translateY(0);
}
