@font-face {
  font-family: "SchoolSafeBoardMarker";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimBoadmarkerR.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* 데스크탑 1024 ~ */
html,
body {
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
  font-family: "SchoolSafeBoardMarker";
  overflow-x: hidden;
}
/* 전체 영역 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.resume-container {
  max-width: 1280px;
  height: 100%;
  background-color: #f5f5dc;
  margin: 50px auto;
  padding: 0 16px;
  position: relative;
  opacity: 0;
  animation: fadeInUp 3s ease-out forwards;
}
/* <!-- 상단 슬로건, 정보들 --> */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border: 4px solid black;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: #f4f1ec;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.header:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background-color: #aca08c;
}

.header-content {
  display: flex;
  justify-content: center;
}

/* 슬로건 */
.slogan {
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
/* 정보 */
.information {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
.info-title {
  font-weight: 800;
  line-height: 1.3;
}
.info-content {
  line-height: 1.5;
}
.line {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border-top: 1px solid #000;
  margin-top: 50px;
}
/* ----------------------- */
/* 중간부분 이름, 이미지, 학력, 경험 */
/* 영어 이름, 한글 이름 */
.main-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
.english-name {
  font-size: 60px;
  font-style: italic;
}
.korea-name {
  font-size: 55px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 30px;
  border: 4px solid black;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  border-radius: 50px;
}
.my-img {
  width: 100%;
  max-width: 350px;
  height: 500px;
  text-align: left;
  border: 4px solid black;
  border-radius: 50px;
  overflow: hidden;
  transform: scale(1) rotate(0deg);
  transition: 0.4s ease-in-out, transform 0.4s ease-out;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
}
.my-img:hover {
  transform: rotate(-10deg);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.35);
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 학력, 겸험 */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-plus {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.list {
  position: relative;
  width: fit-content;
  padding: 0 10px;
  font-size: 19px;
}
.list-a {
  position: relative;
  width: fit-content;
  padding: 0 10px;
  font-size: 19px;
}
.list:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 15px;
  background-color: black;
}

.list-a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 15px;
  background-color: black;
}
.education-list {
  line-height: 1.8;
  width: 0%;
  text-align: left;
  border: 4px solid black;
  width: 100%;
  height: 230px;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: #f4f1ec;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.education-list:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.35);
  background-color: #aca08c;
}
.experience-list {
  margin-top: 40px;
  line-height: 1.8;
  width: 50%;
  text-align: left;
  border: 4px solid black;
  width: 100%;
  height: 230px;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: #f4f1ec;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.experience-list:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.35);
  background-color: #aca08c;
}
.list-heading {
  font-size: 24px;
  font-weight: 600;
  width: fit-content;
}
/* 자기 소개글 */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  line-height: 1.8;
  width: 100%;
  margin-top: 40px;
  text-align: left;
  border: 4px solid black;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  border-radius: 50px;
}
.about-me-title {
  font-size: 24px;
  font-weight: 600;
}

.about-me-comment {
  width: 50%;
  font-size: 19px;
  border: 4px solid black;
  width: 100%;
  height: 250px;
  padding: 16px 16px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  background-color: #f4f1ec;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.about-me-comment:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background-color: #aca08c;
}
.all-about-me-comment {
  display: flex;
  justify-content: flex-end;

  align-items: center;
  gap: 60px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 하단부분 프로젝트, 강점 */
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  gap: 60px;
  width: 100%;
  margin-top: 40px;
  text-align: left;
  border: 4px solid black;
  height: auto;
  padding: 20px 20px;
  border-radius: 50px;
}
.footer-sub-title {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  margin-top: 10px;
}
.notion-link {
  max-width: 300px;
}
.bi-github {
  border-radius: 100%;
  border: 1px solid #f0f6fc;
  width: 40px;
  height: 40px;
  outline: none;
}
/* 프로젝트 */
.projects {
  line-height: 1.8;
  width: 50%;
  text-align: left;
  border: 4px solid black;
  width: 100%;
  height: 280px;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: #f4f1ec;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.projects:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background-color: #aca08c;
}

.projects-list:hover {
  text-decoration: underline;
  color: white;
}
/* 강점 */
.strengths {
  width: 50%;
  text-align: left;
  border: 4px solid black;
  width: 100%;
  height: 280px;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: #f4f1ec;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.strengths:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  background-color: #aca08c;
}
.strengths-list-top {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.strengths-list-bottom {
  display: flex;
  gap: 30px;
  margin-top: 25px;
}
.strengths-item {
  width: 150px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-out;
  cursor: pointer;
}
.strengths-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
}
/* 페이지 하단 버튼들 */
.icon-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(900px);
  z-index: 9999;
}
.question-icon {
  width: 38px;
  height: 38px;
  color: gray;
  opacity: 0.15;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.question-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.question-icon:active {
  transform: scale(0.9) translateY(0);
}
.up-icon {
  width: 38px;
  height: 38px;
  color: white;
  opacity: 0.15;
  border-radius: 100%;
  background-color: gray;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.up-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.up-icon:active {
  transform: scale(0.9) translateY(0);
}
.end-comment {
  text-align: center;
  font-size: 13px;
  height: 72px;
}
.end-comment-top {
  margin-top: 30px;
}
.end-comment-under {
  margin-top: 15px;
}
.bi-diamond-fill {
  vertical-align: middle;
  margin-right: 4px;
  margin-left: 4px;
}
.bi-arrow-return-right {
  vertical-align: middle;
  margin-right: 5px;
}

@media (max-width: 767px) {
  /* 전체 영역 */
  .resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    max-width: 767px;
  }
  /* 헤더 슬로건, 정보들 */
  div.header {
    gap: 8px;
    width: 100%;
    padding: 8px;
  }

  div.slogan {
    font-size: 17px;
    width: 100%;
  }

  div.information {
    gap: 5px;
  }
  div.info-title {
    font-size: 10px;
  }
  div.info-content {
    font-size: 9px;
  }

  /* -------------------------------- */
  /* 영어, 한글 이름 */
  div.main-name {
    max-width: 290px;
    height: 20px;
    gap: 10px;
  }
  h2.english-name {
    font-size: 30px;
    width: 190px;
  }
  h2.korea-name {
    font-size: 30px;
    width: 85px;
  }
  /* ---------------------------- */
  /* 중간부분 이미지, 학력, 경험 */

  div.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
  }
  .main-content {
    width: 100%;
  }
  h2.list-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p.list:not(:last-child)::after {
    width: 1px;
    height: 15px;
  }
  p.list-a:not(:last-child)::after {
    width: 1px;
    height: 15px;
    margin-top: -13px;
  }
  p.list-a {
    font-size: 13px;
    width: 130px;
    padding: 0px 5px;
    height: fit-content;
    display: flex;
    flex: 1;
  }
  p.list {
    font-size: 13px;
    padding: 0 5px;
    height: fit-content;
    display: flex;
  }
  div.p-plus {
    display: flex;
    width: 250px;
    height: fit-content;
  }

  div.my-img {
    width: 100%;
    height: 50%;
  }
  img.photo {
    max-width: 100%;
    height: auto;
  }
  /* -------------------------- */
  /* 자기소개 글 */
  h2.about-me-title {
    font-size: 17px;
  }
  span.about-me-comment {
    font-size: 14px;
    width: 100%;
  }
  div.all-about-me-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  div.container {
    width: 100%;
  }
  /* -------------------------- */
  /* 하단부분 프로젝트, 강점 */
  div.footer {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
  }
  h3.footer-sub-title {
    font-size: 13px;
    margin-top: 5px;
  }
  /* 프로젝트 */
  div.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  a.projects-list {
    font-size: 11px;
  }
  svg.bi-notion {
    width: 25px;
    height: 25px;
  }
  svg.bi-github {
    width: 25px;
    height: 25px;
  }
  /* ----------------------------- */
  /* 강점 */
  div.strengths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 10px;
  }

  li.strengths-item {
    width: 80px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50px;
    gap: 15px;
  }
  ul.strengths-list-top {
    gap: 15px;
    margin-top: 20px;
  }
  ul.strengths-list-bottom {
    gap: 15px;
  }
  button.question-icon {
    width: 25px;
    height: 25px;
  }
  svg.bi-question-circle-fill {
    width: 25px;
    height: 25px;
  }
  button.up-icon {
    width: 25px;
    height: 25px;
  }
  svg.bi-chevron-bar-up {
    width: 25px;
    height: 25px;
  }
  /* ------------------------------ */
  /* 제일 바닥 글귀 */
  div.end-comment {
    font-size: 8px;
  }
  hr.line {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border-top: 1px solid #000;
    margin-top: 30px;
  }
  .bi-diamond-fill {
    width: 10px;
    height: 10px;
  }
  .bi-arrow-return-right {
    width: 10px;
    height: 10px;
  }
  .bi-house,
  .bi-telephone,
  .bi-envelope {
    width: 10px;
    height: 10px;
  }
}

/* 768 이상 1024 이하 (태블릿) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* 전체 영역 */
  div.resume-container {
    max-width: 1023px;
    min-width: 768px;
  }
  /* 헤더 뱃지모양 이름, 슬로건, 정보 */
  div.header {
    gap: 20px;
    width: 100%;
  }

  div.slogan {
    font-size: 24px;
    width: 100%;
    padding: 0;
  }
  div.information {
    gap: 10px;
    font-size: 14px;
  }
  div.main {
    gap: 60px;
  }
  p.list,
  p.list-a {
    font-size: 16px;
  }

  div.education-list,
  div.experience-list {
    padding: 10px;
  }

  /* 자기소개 글 */
  span.about-me-comment {
    display: flex;
    width: 100%;
    flex: 1;
    font-size: 16px;
    padding: 8px;
  }

  div.all-about-me-comment {
    gap: 40px;
  }
  div.container {
    display: flex;
  }

  /* 하단부분 프로젝트, 강점 */
  div.footer {
    gap: 50px;
    flex: 1;
  }
  /* 프로젝트 */
  div.projects {
    width: 50%;
  }
  /* 강점 */
  div.strengths {
    gap: 10px;
    width: 50%;
  }
}
